.fancybox {
  display: inline-block;
  vertical-align: top;
}
.fancybox > .thumbnail {
  height: 100%;
  background-size: cover;
  background-position: center;
}
.fancybox img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.fancybox-open {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.6);
  display: block;
}
.fancybox-open img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  max-height: 700px;
  max-width: 1200px;
  width: auto;
  height: 100%;
}
@media (max-width: 776px) {
  .fancybox-open img {
    max-height: 90%;
    height: auto;
    width: 100%;
  }
}
