.homepage {

}
.homepage-background {
  background-color: #000;
  padding: 0;
}
.hero-image {
  height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  width: 100%;
  position: relative;

  background-image: url('../../images/homepage-bg.jpg');
  background-size: cover;
  background-position: center;
}
.music-section {
  text-align: center;
}
.music-section video {
  height: 300px;
  width: 300px;
  margin: 15px;
  cursor: pointer;
  max-width: 100%;
}
.photos-section {
  text-align: center;
  background-color: #e3e3e3;
}
.book-section {
  text-align: center;
}
