.footer {
  height: var(--footerHeight);
  background-color: #e3e3e3;
  text-align: center;
}

.footer-nav ul {
  line-height: calc(var(--footerHeight) - 40px);
  margin: 0 auto;
  width: fit-content;
}
.footer-nav li {
  width: 100px;
  display: inline-block;
}
.footer-nav a {
  border-right: 1px solid #000;
  height: 30px;
}
.footer-nav a:last-child {
  border: none;
}
.footer-nav li:hover {
  /* border-bottom: 3px solid;
  height: calc(var(--footerHeight) - 3px); */
  background-color: #fff;
}
.social-icon {
  width: 30px;
  height: 30px;
}

@media(max-width: 776px) {
  .footer-nav li {
    width: 60px;
  }
}
