body {
  margin: 0;
}
:root {
  --headerHeight: 100px;
  --footerHeight: 100px;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  padding-left: 0;
  list-style: none;
}
.page {
  margin-top: var(--headerHeight);
  background-color: #d4abbd;
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
}
