body {
  margin: 0;
  font-family: arial;
}
:root {
  --headerHeight: 100px;
  --footerHeight: 135px;
  --colorPink: #d4abbd;
  --colorYellow: #ffeaa9;
  --colorTeal: #4ae8c4;
  --colorSilver: #bebebe;
  --colorBlue: #a5cfec;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  padding-left: 0;
  list-style: none;
}
h3 {
  font-weight: 300;
}
section {
  padding-top: 80px;
  padding-bottom: 120px;
  min-height: 400px;
}
section h3 {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 32px;
}


/* GLOBAL CLASSES */
.page {
  margin-top: var(--headerHeight);
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  height: auto;
  display: inline-block;
  width: 100%;
  padding-top: 30px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.tinted {
  opacity: 0.6;
}
.text-center {
  text-align: center;
}
.btn {
  display: inline-block;
  background-color: var(--colorPink);
  margin: 15px auto;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  transition: 0.5s ease;
}
.btn:hover {
  opacity: 0.7;
  color: #000;
}
.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

@media (min-width: 1201px) {
  .container {
    width: 100%;
  }
}
